.recipes {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.recipe-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1rem;
}

@media screen and (max-width: 767px) {
  .recipe-card-container {
    grid-template-columns: 1fr;
  }
}
